.slick-prev::before,
.slick-next::before {
  color: gray !important;
  font-size: 1.5rem !important;
}

.width-item {
  width: 100% !important;
}

.active_film {
  @apply bg-violet-700 text-white;
}

.none_active_film {
  @apply bg-white text-violet-700;
}
